$border: 1px solid red;
$padding: 10px;
$font: "Saira Semi Condensed", Helvetica, Arial, sans-serif;

* {
  box-sizing: border-box;
}

.loan-container {
    font-family: $font;
}

.loan-item {
    padding: $padding
}

.loan-button-wrapper {
  display: flex;
}

.loan-button {
  flex: 1;
}

.choosed-button {
    background-color: #F0BB0C;
    color: #FFFFFF;
}

.loan-item-input {
    display: flex;
    justify-content: space-between;
    padding: $padding
}

.loan-input-wrapper {
    width: 25%;
    display: flex;
}

.loan-input {
    width: 100%;
}