$border: 1px solid red;

* {
  box-sizing: border-box;
}

#root {
  max-width: 900px;
  margin: 0 auto;
  border: $border;
  display: flex;
  flex-direction: row;
}

.main {
  flex: 2;
  font-size: 1.5em;
}

.dealer-info {
  flex: 1;
  border: $border;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tabs-button {
  flex: 1;
  background-color: #83cdd8;
  border-radius: 5px;
}
